In [1]:
import pandas as pd # type: ignore

#abrindo a tabela do excel
dados=pd.read_excel('paralimpiadas.xlsx')
dados.head()

#transformando algumas colunas em lista
ouro=dados['Medalha de ouro'].tolist()
prata=dados['Medalha de prata'].tolist()
bronze=dados['Medalha de bronze'].tolist()

#criando listas para as transformações
L_prata_ouro=[]
L_bronze_ouro=[]

#transformando prata em ouro, arredondando os valores e adicionando na lista
for item in prata:
     prata_ouro=item/2.5
     arredonda=round(prata_ouro, 2)
     L_prata_ouro.append(arredonda)

#transformando bronze em ouro, arredondando os valores e adicionando na lista
for item in bronze:
     bronze_ouro=item/5
     arredonda2=round(bronze_ouro, 2)
     L_bronze_ouro.append(arredonda2)

#criando um DataFrame para somar as duas listas
df=pd.DataFrame(zip(L_bronze_ouro, L_prata_ouro),
                       columns=['bronze_ouro', 'prata_ouro'])

df['total']=df['bronze_ouro']+df['prata_ouro']

#transforma a coluna recém-criada "total" em lista 
total=df['total'].tolist()

#transforma a lista "total" em uma coluna da tabela "dados" e soma a nova coluna com "Medalha de ouro"
dados['total']=total
dados['total de Ouros']=dados['Medalha de ouro'] + dados['total']

#ordena os valores da coluna "total de Ouros" para verificar a ordem dos países em relação a quantos ouros ganharam
dados = dados.sort_values(by='total de Ouros', ascending=False)
dados.head(20)

,Ordem por ouros,País,Medalha de ouro,Medalha de prata,Medalha de bronze,Total,Ordem por total,total,total de Ouros
0,1,China,94,76,50,220,1,40.4,134.4
1,2,Grã-Bretanha,40,44,31,124,2,23.8,63.8
2,3,Estados Unidos,36,42,27,105,3,22.2,58.2
4,5,Brasil,25,26,38,89,4,18.0,43.0
6,7,Ucrânia,20,28,32,82,5,17.6,37.6
5,6,Itália,24,15,32,71,7,12.4,36.4
3,4,Países Baixos,27,17,12,56,9,9.2,36.2
7,8,França,19,28,28,75,6,16.8,35.8
8,9,Austrália,18,17,28,63,8,12.4,30.4
9,10,Japão,14,10,17,41,11,7.4,21.4
10,11,Alemanha,10,14,25,49,10,10.6,20.6
16,17,Espanha,7,11,22,40,12,8.8,15.8
11,12,Canadá,10,9,10,29,15,5.6,15.6
12,13,Uzbequistão,10,9,7,26,19,5.0,15.0
13,14,Irã,8,10,7,25,20,5.4,13.4
17,18,Índia,7,9,13,29,15,6.2,13.2
20,21,Tailândia,6,11,13,30,13,7.0,13.0
21,22,Coreia do Sul,6,10,14,30,13,6.8,12.8
18,19,Colômbia,7,7,14,28,17,5.6,12.6
22,23,Turquia,6,10,12,28,17,6.4,12.4